<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo_pagina }}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
</head>
<body>
    <header>
        <h1>Bienvenido a AutoSeguro360</h1>
    </header>
    <nav>
        <p>Tu API avanzada de gestión de vehículos y usuarios está funcionando.</p>
    </nav>
    <main>
        <h2>Próximo Paso: Formularios y Dashboards</h2>
        <p>Vamos a empezar a construir la interfaz con formularios para el ingreso de datos.</p>
        
        </main>
    <footer>
        <p>&copy; 2025 Desarrollado por Jhon Alexander Rodriguez Redondo</p>
    </footer>
</body>
</html>